<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>今日は何食べよう</title>
</head>
<body>
<form method="POST" action="/result">
    <table>
        <tr>
            <p th:text="${describe}"></p>
            <td><input type="text" name="searchtext" value="" size="50" placeholder="キーワード（ジャンル・店舗名）" th:value=${searchedText}></input></td>
            <td><input type="submit" value="検索" size="30"></input></td>
        </tr>
    </table>

    <font color="#ff0000"><th:block th:text="${errorMessage}"></th:block></font>

    <table border="1">
        <tr th:each="task : ${resultText}">
            <td>
                <a th:href="${task.urls.pc}" target="_blank">
                    <p th:text="${task.name}"></p>
                </a>
            </td>
            <td th:text="${task.address}"></td>
            <td th:text="${task.mobile_access}"></td>
            <td th:text="${task.open}"></td>
    </table>

</form>

</body>
</html>
